<!DOCTYPE html>

<html>
    <head>
        <title>Hello World...</title>
        <script src="./scripts/angular.js"></script>
        <link rel="stylesheet" type="text/css" href="./styles/copyInfo.css" />
    </head>
    <body class="container-body" ng-app="applicationModule" ng-controller="appController">

        <b>Copied Values:</b><br><br>
        <label>Hello {{name}}</label><br><br>

        <div ng-repeat="values in copyStringArray">
            <label>{{values.keyId}}:</label>
            <label style="padding-left: 10px">{{values.copyMessage}}</label><br><br>
        </div><br><br>

        <input type="button" ng-click="resetStorage()" value="Reset Storage" />
        
        <input type="button" ng-click="addToStorage()" value="Click To Add To Storage" />

    </body>

    <script src="./scripts/copyInfo.js"></script>
</html>