<!DOCTYPE html>

<html>
    <head>
        <title>Hello World...</title>
        <script src="./scripts/angular.js"></script>
        <link rel="stylesheet" type="text/css" href="./styles/copyInfo.css" />
    </head>
    <body class="container-body" ng-app="applicationModule" ng-controller="appController">

        <b>Copied Values:</b><br><br>
        <label>Hello {{name}}</label><br><br>

        <div ng-repeat="values in copyStringArrayData" ng-if="values.copyMessage" style="padding-top: 10px;">
            <b>Copy Message for {{values.keyId}} :</b>
            <div style="border-bottom: 1px solid #e6e3e3;">
                <div contenteditable="true" ng-bind="values.copyMessage" style="padding: 5px; margin-right: 10px; margin-top: 10px; border: 1px solid #e6e3e3; flex-grow: 1;"></div>
                <button ng-click="deleteEntry(values.keyId)" style="padding-left: 5px; margin-bottom: 10px; margin-top: 10px">Delete</button>
                <button ng-click="updateEntry(values.keyId, $event)" style="padding-left: 5px; margin-bottom: 10px; margin-top: 10px">Update</button>
            </div>
        </div><br><br>

        <input type="button" ng-click="resetStorage()" value="Reset Storage" />

    </body>

    <script src="./scripts/copyInfo.js"></script>
    
</html>